<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.picture.infrastructure.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.lushihao.picture.domain.picture.entity.Picture">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
        <result property="name" column="name"/>
        <result property="introduction" column="introduction"/>
        <result property="category" column="category"/>
        <result property="tags" column="tags"/>
        <result property="picSize" column="pic_size"/>
        <result property="picWidth" column="pic_width"/>
        <result property="picHeight" column="pic_height"/>
        <result property="picScale" column="pic_scale"/>
        <result property="picFormat" column="pic_format"/>
        <result property="cameraModel" column="camera_model"/>
        <result property="lensModel" column="lens_model"/>
        <result property="fNumber" column="f_number"/>
        <result property="iso" column="iso"/>
        <result property="exposureTime" column="exposure_time"/>
        <result property="focalLength" column="focal_length"/>
        <result property="takenTime" column="taken_time"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="editTime" column="edit_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="reviewMessage" column="review_message"/>
        <result property="reviewerId" column="reviewer_id"/>
        <result property="reviewTime" column="review_time"/>
        <result property="spaceId" column="space_id"/>
        <result property="picColor" column="pic_color"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,url,thumbnail_url,name,introduction,category,tags,
        pic_size,pic_width,pic_height,pic_scale,pic_format,
        camera_model,lens_model,f_number,iso,exposure_time,
        focal_length,taken_time,user_id,create_time,edit_time,
        update_time,is_delete,review_status,review_message,reviewer_id,
        review_time,space_id,pic_color
    </sql>
</mapper>
